#startButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    #scoreText {
        
    margin-right: 10px;
     }
    body {
      text-align: center;
      font-family: Arial, sans-serif;
    }
    #startButton {
    background-color: rgb(209, 61, 61);
    float: left;
    }
    #AnswerButton{
    background-color: rgb(75, 185, 75);
    }
    #question {
        
      font-size: 24px;
      margin: 20px;
    }
    #answer {
    
    font-size: 18px;
    margin: 10px;
    }
    #result {
      font-size: 20px;
      margin: 10px;
    }